<%- include('header') %>
<nav class="nav">
  <div class="nav-and-menu">
    <div class="nav-header">
      <span class="nav-header-span">Kizod Blog API</span>
    </div>
    <div class="dropdown-menu-icon">
      <img src="/menu.ico" alt="Menu Icon" />
    </div>
  </div>
  <div class="nav-link-container">
    <a href="/" class="nav-link"> Home </a>
    <a href="/documentation" class="nav-link"> Documentation </a>
    <a href="/register" class="nav-link"> Create Account </a>
    <a href="/login" class="nav-link"> Login </a>
  </div>
</nav>
<script src="/script.js"></script>
