<%- include('header') %>
<nav class="nav">
  <div class="nav-and-menu">
    <div class="nav-header">
      <span class="nav-header-span">Kizod Blog API</span>
    </div>
    <div class="dropdown-menu-icon">
      <img src="/menu.ico" alt="Menu Icon"> 
    </div>
  </div>
  <div class="nav-link-container">
    <form action="/home" method="POST">
      <input type="hidden" name="email" value="<%= email %>" />
      <button class="nav-btn-link">Home</button>
    </form>
    <a href="/documentation" class="nav-link"> Documentation </a>
    <form action="/create/auth" method="POST">
      <input type="hidden" name="author" value="<%= author %>" />
      <input type="hidden" name="email" value="<%= email %>" />
      <button class="nav-btn-link">Add Blog</button>
    </form>
    <a href="/login" class="nav-link"> Logout </a>
  </div>
</nav>
<script src="/script.js"></script>
