<%- include('partials/header') %> <%- include('partials/nav') %>
<div class="container height-full">
  <h3>Documentation</h3>
  <p>
    Welcome to the Blog API! This API allows users to sign up, manage their
    accounts, and create, edit, and publish blog posts. The API supports two
    states for blog posts: drafts and published. Draft posts are private and can
    only be viewed by their creators, while published posts are public and can
    be viewed by anyone.
  </p>

  <h3>Base URL</h3>
  <p>https://blogging-api-7w9w.onrender.com</p>

  <h3>Authentication</h3>
  <p>
    All routes, except for user registration, login, published blogs routes and
    the documentation route, require authentication via a token.
  </p>

  <p>These are the routes</p>
  <table class="styled-table">
    <thead>
      <tr>
        <th>S/N</th>
        <th>Base URL</th>
        <th>Path + Query + Parameters</th>
        <th>HTTP Method</th>
        <th>Action</th>
        <th>Route Secured?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/</td>
        <td>Get</td>
        <td>Home</td>
        <td>No</td>
      </tr>
      <tr>
        <td>2</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/documentation</td>
        <td>Get</td>
        <td>Documentation</td>
        <td>No</td>
      </tr>
      <tr>
        <td>3</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/user</td>
        <td>Post</td>
        <td>Sign In</td>
        <td>No</td>
      </tr>
      <tr>
        <td>4</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/user/auth</td>
        <td>Post</td>
        <td>Register User</td>
        <td>No</td>
      </tr>
      <tr>
        <td>5</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/user/logout</td>
        <td>Post</td>
        <td>Logout User</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>6</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/user/profile</td>
        <td>Get</td>
        <td>Display User</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>7</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/user/profile</td>
        <td>Put</td>
        <td>Update User Info</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>8</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/blog/:id</td>
        <td>Get</td>
        <td>Display Blog Created by self - Search by ID</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>9</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/blog</td>
        <td>Get</td>
        <td>Display All Blogs Created by self</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>10</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/blog/state/:state</td>
        <td>Get</td>
        <td>Display Blogs Created by self filter with state</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>11</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/blog/published/items</td>
        <td>Get</td>
        <td>Display All Published Blogs</td>
        <td>No</td>
      </tr>
      <tr>
        <td>12</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/blog/published/items/{fieldname}/{fieldvalue}</td>
        <td>Get</td>
        <td>
          Get All Published Blogs - Search by field: author, title or tags
        </td>
        <td>No</td>
      </tr>
      <tr>
        <td>13</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/blog/published/item/:id"</td>
        <td>Get</td>
        <td>Display Published Blog by ID</td>
        <td>No</td>
      </tr>
      <tr>
        <td>14</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/blog</td>
        <td>Post</td>
        <td>Add Blog</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>15</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/blog/:id</td>
        <td>Put</td>
        <td>Update Blog</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>16</td>
        <td>https://blogging-api-7w9w.onrender.com</td>
        <td>/api/blog/:id</td>
        <td>Delete</td>
        <td>Delete Blog</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>

  <h3>Endpoints</h3>
  <h4>User Routes</h4>

  <h5>Register a New User</h5>
  <ul>
    <li>Endpoint: <strong>/api/user/auth</strong></li>
    <li>Method: POST</li>
    <li>Description: Register a new user</li>
    <li>
      <code
        >Request Body: { "first_name": "string", "last_name": "string", "email":
        "string", "password": "string" }</code
      >
    </li>
    <li>
      <code
        >Response: { "_id": xxx, "first_name": "xxx", "last_name": "xxx",
        "email": "xxx", { "token": "jwt_token" } }</code
      >
    </li>
  </ul>

  <h5>Login</h5>
  <ul>
    <li>Endpoint: <strong>/api/user</strong></li>
    <li>Method: POST</li>
    <li>Description: Login a user and retrieve a token</li>
    <li>
      <code>Request Body: { "email": "string", "password": "string" }</code>
    </li>
    <li>
      <code
        >Response: { "message": "User logged in successfully", { "token":
        "jwt_token" } }</code
      >
    </li>
  </ul>
  <h5>Logout</h5>
  <ul>
    <li>Endpoint: <strong>/api/user/logout</strong></li>
    <li>Method: POST</li>
    <li>Description: Logout a user and delete the user's token</li>
    <li><code>Request Body: { }</code></li>
    <li><code>Response: { "message": "User logged out" }</code></li>
  </ul>

  <h5>Get User Profile</h5>
  <ul>
    <li>Endpoint: <strong>/api/user/profile</strong></li>
    <li>Method: GET</li>
    <li>Description: Retrieve the logged-in user's profile</li>
    <li><code>Request Body: { }</code></li>
    <li>
      <code
        >Response: { "_id": "xxx", "first_name": "xxx", "last_name": "xxx",
        "email": "xxx" }</code
      >
    </li>
  </ul>

  <h5>Update User Profile</h5>
  <ul>
    <li>Endpoint: <strong>/api/user/profile</strong></li>
    <li>Method: PUT</li>
    <li>Description: Update the logged-in user's profile</li>
    <li>
      <code
        >Request Body: { "first_name": "string", "last_name": "string", "email":
        "string", "password": "string" }</code
      >
      Enter the name(s) of the field(s) of interest and the new value(s) for
      update
    </li>
    <li>
      <code
        >Response: { "message": "User information updated successfully" }</code
      >
    </li>
  </ul>

  <h4>Blog Routes</h4>
  <h5>Get All Blogs</h5>
  <ul>
    <li>Endpoint: <strong>/api/blog</strong></li>
    <li>Method: GET</li>
    <li>Description: Retrieve all blogs created by the authenticated user</li>
    <li>
      <code
        >Response: [ { "_id": "blog_id", "title": "string", "state": "string",
        "read_count": "integer" } ]</code
      >
    </li>
  </ul>

  <h5>Get All Blogs by State</h5>
  <ul>
    <li>Endpoint: <strong>/api/blog/state/{state}</strong></li>
    <li>Method: GET</li>
    <li>
      Description: Retrieve all blogs created by the authenticated user, filter
      with state:
      <strong>draft/published</strong>
    </li>
    <li>
      <code
        >Response: [ { "_id": "blog_id", "title": "string", "state": "string",
        "read_count": "integer" } ]</code
      >
    </li>
  </ul>

  <h5>Get a Specific Blog Post</h5>
  <ul>
    <li>Endpoint: <strong>/api/blog/{id}</strong></li>
    <li>Method: GET</li>
    <li>
      Description: Retrieve a single blog created by the authenticated user by
      id
    </li>
    <li>
      <code
        >Response: { "\_id": "blog_id", "title": "string", "description":
        "string", "author": "string", "state": "string", "read_count":
        "integer", "reading_time": "string", "tags": "string", "body": "string",
        "userID": "user_id", "createdAt": "datetime", "updatedAt": "datetime",
        "\_\_v": 0 }</code
      >
    </li>
  </ul>

  <h5>Get All Published Blogs</h5>
  <ul>
    <li>Endpoint: <strong>/api/blog/published/items</strong></li>
    <li>Method: GET</li>
    <li>Description: Retrieve all published blogs</li>
    <li>
      <code
        >Response: [ { "_id": "blog_id", "title": "string", "author": "string",
        "read_count": "integer", "tags": "string", } ]</code
      >
    </li>
  </ul>

  <h5>Get All Published Blogs - Search by author, title or tags</h5>
  <ul>
    <li>
      Endpoint:
      <strong>/api/blog/published/items/{fieldname}/{fieldvalue}</strong>
    </li>
    <li>Method: GET</li>
    <li>
      Description: Retrieve all published blogs by field: author, title or tags
    </li>
    <li>
      <code
        >Response: [ { "_id": "blog_id", "title": "string", "author": "string",
        "read_count": "integer", "tags": "string", } ]</code
      >
    </li>
  </ul>

  <h5>Get a Specific Published Blog Post</h5>
  <ul>
    <li>Endpoint: <strong>/api/blog/published/item/{id}</strong></li>
    <li>Method: GET</li>
    <li>Description: Retrieve a specific published blog post</li>
    <li>
      <code
        >Response: { "\_id": "blog_id", "title": "string", "description":
        "string", "author": "string", "state": "string", "read_count":
        "integer", "reading_time": "string", "tags": "string", "body": "string",
        "userID": "user_id", "createdAt": "datetime", "updatedAt": "datetime",
        "\_\_v": 0 }</code
      >
    </li>
  </ul>

  <h5>Create a New Blog Post</h5>
  <ul>
    <li>Endpoint: <strong>/api/blog</strong></li>
    <li>Method: POST</li>
    <li>
      Description: Create a new blog post (draft). NB: State is set to "draft"
      by default but can be set to "published" if so desired
    </li>
    <li>
      <code
        >Request Body: { "title": "string", "description": "string", "tags":
        "string", "body": "string" }</code
      >
    </li>
    <li>
      <code
        >Response: { "\_id": "blog_id", "title": "string", "description":
        "string", "author": "string", "state": "string", "read_count":
        "integer", "reading_time": "string", "tags": "string", "body": "string",
        "userID": "user_id", "createdAt": "datetime", "updatedAt": "datetime",
        "\_\_v": 0 }</code
      >
    </li>
  </ul>

  <h5>Update a Blog Post</h5>
  <ul>
    <li>Endpoint: <strong>/api/blog/{id}</strong></li>
    <li>Method: PUT</li>
    <li>
      Description: Update a blog post. Only the author can update their posts
    </li>
    <li>
      <code
        >Request Body: { "title": "string", "description": "string", "state":
        "string", "tags": "string", "body": "string" }</code
      >
    </li>
    <li>
      <code
        >Response: { "\_id": "blog_id", "title": "string", "description":
        "string", "author": "string", "state": "string", "read_count":
        "integer", "reading_time": "string", "tags": "string", "body": "string",
        "userID": "user_id", "createdAt": "datetime", "updatedAt": "datetime",
        "\_\_v": 0 }</code
      >
    </li>
  </ul>

  <h5>Delete a Blog Post</h5>
  <ul>
    <li>Endpoint: <strong>/api/blog/{id}</strong></li>
    <li>Method: DELETE</li>
    <li>
      Description: Delete a blog post. Only the author can delete their posts
    </li>
    <li>
      <code
        >Response: { "\_id": "blog_id", "title": "string", "description":
        "string", "author": "string", "state": "string", "read_count":
        "integer", "reading_time": "string", "tags": "string", "body": "string",
        "userID": "user_id", "createdAt": "datetime", "updatedAt": "datetime",
        "\_\_v": 0 }</code
      >
    </li>
  </ul>
</div>
<%- include('partials/footer') %>
